<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/naps.css" />
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <fieldset>
        <form>
            <div>
                <label>Username</label>
                <input value="ian@home.com" />
                <span>* required</span>
            </div>
            <div>
                <label>Password</label>
                <input type="password" value="bl-blue-Bansenauer" />
                <span>* required</span>
            </div>
            <div>
                <input type="button" value="Login" />
                <input type="button" value="Reset" />
            </div>
        </form>
    </fieldset>

</body>
</html>