<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/naps.css" />
    <title>Select Password</title>
</head>
<body>
    <h1>Choose a Password</h1>
    <fieldset>
        <form>
            <div>
                <label>Possible Passwords</label>
                <input value="bl-blue-Bansenauer" />
            </div>
            <div>
                <input type="button" onclick="location.href='/confirm-account.html';" value="Create Account" />
                <input type="button" value="Reset" />
            </div>
        </form>
    </fieldset>

</body>
</html>