@{Layout = "_Layout";}
@model A1_Mod.UserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<body>
    <h1>New Account Information</h1>
    <fieldset>
        <form action="Naps/AccountInfo" method="post">
            <div>
                <label>First Name</label>
                <input asp-for="FirstName" placeholder="First Name" name="FirstName" />
            </div>
            <div>
                <label>Last Name</label>
                <input asp-for="LastName" placeholder="Last Name" name="LastName" />
            </div>
            <div>
                <label>Email Address</label>
                <input asp-for="Email" placeholder="Email Address" name="Email" />
            </div>
            <div>
                <label>Program</label>
                <select asp-for="Program">
                    <option asp-for="Program">Web App Dev</option>
                    <option asp-for="Program">Mobile App Dev</option>
                    <option asp-for="Program">Front-end Dev</option>
                </select>
            </div>
            <div>
                <input type="submit" />
                <input type="button" value="Reset" />
            </div>
        </form>
    </fieldset>

</body>
