@model A1_Mod.UserModel
@{Layout = "_Layout";}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<body>
    <h1>New Account Information</h1>
    <fieldset>
        <form asp-action="AccountInfo" method="post">
            <div>
                <label>First Name</label>
                <input asp-for="FirstName"/>
                <span asp-validation-for="FirstName">* required</span>
            </div>
            <div>
                <label>Last Name</label>
                <input asp-for="LastName"/>
                <span asp-validation-for="LastName">* required</span>
            </div>
            <div>
                <label>Email Address</label>
                <input asp-for="Email"/>
                <span asp-validation-for="Email">* required</span>
            </div>
            <div>
                <label>Program</label>
                <select asp-for="@Model.Program">
                    <option selected disabled>Choose Program</option>
                    <option asp-for="Program">Web App Dev</option>
                    <option asp-for="Program">Mobile App Dev</option>
                    <option asp-for="Program">Front-end Dev</option>
                </select>
            </div>
            <div>
                <input type="submit" value="Submit"/>
                <input type="button" value="Reset" />
            </div>
        </form>
    </fieldset>

</body>
