@{Layout = "_Layout";}
@model A1_Mod.UserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<body>
    <h1>New Account Created</h1>
    <fieldset>
        <form action="Naps/ConfirmAccount" method="post">
            <div>
                <label>FirstName</label>
                <span>Brian</span>
            </div>
            <div>
                <label>Last Name</label>
                <span>Bansenauer</span>
            </div>            <div>
                <label>Program</label>
                <span></span>
            </div>
            <div>
                <label>Username</label>
                <span>ian@home.com</span>
            </div>
            <div>
                <label>Password</label>
                <span>bl-blue-Bansenauer</span>
            </div>
            <div>
                <input type="button"  />
                <input type="button" value="Reset" />
            </div>
        </form>
    </fieldset>

</body>
