@model A1_Mod.UserModel
@{Layout = "_Layout";}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<body>
    <h1>New Account Created</h1>
    <fieldset>
        <form action="Naps/ConfirmAccount" method="post">
            <div>
                <label>FirstName</label>
                <input asp-for="FirstName"/>
            </div>
            <div>
                <label>Last Name</label>
                <input asp-for="LastName" />
            </div>            <div>
                <label>Program</label>
                <input asp-for="Program" />
            </div>
            <div>
                <label>Username</label>
                <input asp-for="Email" />
            </div>
            <div>
                <label>Password</label>
                <input asp-for="Password" />
            </div>
            <div>
                <input type="button" />
                <input type="button" value="Reset" />
            </div>
        </form>
    </fieldset>

</body>
