@{Layout = "_Layout";}
@model A1_Mod.UserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<body>
    <h1>Password Information</h1>
    <fieldset>
        <form action="Naps/PasswordInfo" method="post">
            <div>
                <label>Last Name</label>
                <input asp-for="LastName" name="LastName" />
                <span>* required</span>
            </div>
            <div>
                <label>Birth year</label>
                <input asp-for="BirthYear" name="BirthYear"/>
                <span>* required</span>
            </div>
            <div>
                <label>Favorite Color</label>
                <input asp-for="FavColor" name="FavColor"/>
                <span>* required</span>
            </div>

            <div>
                <input type="submit"/>
                <input type="button" value="Reset" />
            </div>
        </form>
    </fieldset>

</body>
