@model A1_Mod.UserModel
@{Layout = "_Layout";}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<body>
    <h1>Password Information</h1>
    <fieldset>
        <form asp-action="PasswordInfo" method="post">
            <div>
                <label>Last Name</label>
                <input asp-for="LastName"/>
                <span asp-validation-for="LastName">* required</span>
            </div>
            <div>
                <label>Birth year</label>
                <input asp-for="BirthYear"/>
                <span asp-validation-for="BirthYear">* required</span>
            </div>
            <div>
                <label>Favorite Color</label>
                <input asp-for="FavColor"/>
                <span asp-validation-for="FavColor">* required</span>
            </div>

            <div>
                <input type="submit" value="Submit" />
                <input type="button" value="Reset" />
            </div>
        </form>
    </fieldset>

</body>
