@{Layout = "_Layout";}
@model A1_Mod.UserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject A1_Mod.PasswordSuggestionService Suggest

<body>
    <h1>Choose a Password</h1>
    <fieldset>
        <form action="Naps/SelectPassword" method="post">
            <div>
                <label>Possible Passwords</label>
                @*<input value="@Suggest.generatePassword()" />*@
            </div>
            <div>
                <input type="button" />
                <input type="button" value="Reset" />
            </div>
        </form>
    </fieldset>

</body>
